<%= form_for @song do |f| %>
  <div class="form-group">
    <label>title</label>
    <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Album</label>
    <%= f.text_field :album, placeholder: "Album", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Genre</label>
    <%= f.text_field :genre, placeholder: "Genre", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Song length</label>
    <%= f.number_field :song_length, placeholder: "Song length", class: "form-control" %>
  </div>

  <div class="form-group">
    <label>Add cover image url</label>
    <%= f.text_field :image_url, placeholder: "Cover image", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
