<ul class="sidebar-list">
  <%= link_to "Back", songs_path, class: "btn btn-primary" %> <%= link_to "Add new song", new_song_path, class: "btn btn-primary" %>
</ul>

  <% @songs.each do |song| %>
    <div class="box">
      <div class="panel panel-primary">
        <!-- <div class="panel-heading">
          Artists
        </div> -->
        <div class="panel-body">
          <div class="row">
            <div class="col-md-7">
              <h4><%= song.title %></h4>
            </div>
            <div class="profile-img-small">
              <%=image_tag song.image_url %>
            </div>
            <div class="col-md-3 right">
              <%= link_to "View", song, class: "btn btn-default" %>
              <%= link_to "Update", edit_song_path(song), class: "btn btn-default" %>
            </div>
          </div>
      </div>
    </div>
  <% end %>
